*{ padding: 0; margin: 0; box-sizing: border-box; }


.test{
	background: url(bg.jpg);
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main{
	
	width: 90%;
	height: 90%;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4));
}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a{
	text-decoration: none;
	color: white;
	padding: 10px;
	margin:10px;
	font-size: 20px;
	text-transform: uppercase;
	position: relative;
	font-style: italic;
}
nav a:before{
	content: "";
	width: 0%;
	border-bottom: 2px solid rgb(196, 86, 86);
	position: absolute;
	bottom: 0;
	display: block;
}



nav a:hover:before{
	width: 80%;
	transition: 0.4s linear;
}

.text{
	width: 85%;
	color: white;
	margin-top: 100px;
	margin-left: 100px;
}


.text h1{
	font-size: 50px;
	padding-left: 10px;
	border-left: 5px solid rgb(223, 103, 103);
	font-family: serif;
	color: rgb(247, 240, 236);
    font-style: italic;
	font-family: 'Dancing Script', cursive;
}

.text p{
	margin:20px 0px;
	font-size: 20px;
	text-align: justify;
	font-family: 'Dancing Script', cursive;
}
button{
	padding: 10px;
	background: transparent;
	border: 1px solid rgb(199, 78, 78);
	outline: none;
	color: white;
	border-radius: 8px;
}
button:hover{
    cursor: pointer;
    color: turquoise;
    transition: 0.4s linear;
}


#icon{
	margin-top: 30px;
}

.t1{
	width: 480px;
}
.img{
	float: right;
	position: relative;
	bottom: 10px;
}
.resume{
	width: 95vw;
}
.resume .resume-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #45505b;
  }
  
  .resume .resume-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #0563bb;
	margin-bottom: 10px;
  }
  .resume .resume-item h5 {
	font-size: 16px;
	background: #f7f8f9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
  }
  .resume .resume-item ul {
	padding-left: 20px;
  }
  .resume .resume-item ul li {
	padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
	padding-bottom: 0;
  }

.img2{
	float:right;
    padding-right: 5%;
}
  section {
	justify-content: center;
	padding: 60px 0;
	overflow: hidden;
  }
  
  .section-title {
	text-align: center;
	padding-bottom: 30px;
  }
  .section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #45505b;
  }
  .section-title h2::before {
	content: "";
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
  }
  .section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #0563bb;
	bottom: 0;
	left: calc(50% - 20px);
  }
  .section-title p {
	margin-bottom: 0;
  }
.education{
	background-color: rgba(250,235,215,0.265);
}
